body {
  width: 250px;
  padding: 10px;
  font-family: sans-serif;
  background-color: #863030;

  display: flex;
  flex-direction: column;
  align-items: center;
}

input#siteInput {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

button#addButton {
  width: 100%;
}

ul {
  padding-left: 20px;
}

li {
  width: 200px;
  display: flex;
  justify-content: space-between;
  color: white;
}

button {
  color: black;
  background-color: white;
  border-radius: 10px;
}